Babel
click
filelock
Flask
geopy==2.4.1
jinja2
jsonschema
pydantic
pygeofilter
pygeoif
pyproj
python-dateutil
pytz
PyYAML
rasterio
requests
shapely
SQLAlchemy<2.0.0
tinydb
unicodecsv
specklepy==2.19.6
pydevd-pycharm~=243.25659.43